/*-------------------------------------------------------------------------------------------------
    Projet  : Colibrimo - L'investissement immobilier durable accessible au plus grand nombre !
    Version : 1.0
---------------------------------------------------------------------------------------------------

    CSS INDEX
    =========================

    01. Default CSS
    02. Header
    03. Accueil
    04. Concept
    05. Video
    06. Contact
    07. Footer
    08. 404

-------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------
    01. Default CSS
-----------------------------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --couleur1: #007F00;
    --couleur2: #d6eddd;
    --couleur3: #f5fbf5;
    --couleur4: #005080;
    --couleur5: #444444;
    --couleur6: #80BCD0;
    --couleur7: #444444;
    --couleur8: #5F6666;
    --couleur9: #FFFFFF;
  }
/*-----------------------------------------------
    02. Header
-----------------------------------------------*/

.header-style 
{
    z-index: 999;
    position: fixed;
    top: 0; left: 0;
    height: 100px; width: 100%;
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    color: var(--couleur8);
    background-color: var(--couleur9);
    box-shadow: 0 0px 10px 0 var(--couleur8);
    animation: 1s ease-in-out 0s normal none 1 running fadeInDown; 
}

.header-logo
{
    content: url(../public/header/logo.png);
    padding-left: 15px;
    height: 60px;
}

.header-items
{
    display: inline-flex;
}

.header-link
{
    padding-right: 50px;
}

.header-active
{
    color: var(--couleur1);
}

button:hover 
{
    color: var(--couleur1);
}

@media (max-width: 1000px) 
{
    .header-style 
    {
        height: 75px;
    }

    .header-logo
    {
        height: 40px;
    }

    .header-link
    {
        padding-right: 30px;
    }
}

@media (max-width: 600px) 
{
    .header-style 
    {
        height: 50px;
    }

    .header-logo
    {
        content: url(../public/header/icon.png);
        padding-left: 15px;
        height: 30px;

    }
}

/*-----------------------------------------------
    03. Accueil
-----------------------------------------------*/

.hero-bg 
{
    height: 980px;
    padding-bottom: 15vw;
    background-position: bottom;
    background-image: url(../public/hero/background.png);
}

.hero-container 
{
    display: flex;
    padding-top: 10vw;;
    background-position: bottom;
}

.hero-paragraphs 
{
    width: 40%;
}

.hero-title
{
    color: var(--couleur9);
    font-family: Roboto;
    font-weight: 500;
    font-size: 5vw;
    line-height: 5vw;
    
    padding-top: 130px;
    padding-left: 30px;
    margin-bottom: 40px;
}

.hero-text
{
    color: var(--couleur9);
    text-align: justify;
    font-size: 1.8vw;
    line-height: 2.5vw;

    padding-left: 30px;
    margin-bottom: 40px;
}

.hero-image
{
    width : 60%;
    object-fit: cover;
    content: url(../public/hero/ecrans.png);
}

@media (max-width: 800px) 
{
    .hero-bg 
    {
        height: 100vh;
    }

    .hero-container 
    {
        padding-top: 100px;
    }
    
    .hero-paragraphs 
    {
        width: 80%;
    }

    .hero-title
    {
        font-weight: 500;
        font-size: 10vw;
        line-height: 10vw;
        
        padding-top: 10vw;
        padding-left: 5vw;
    }
    
    .hero-text
    {
        font-size: 3vw;
        line-height: 5vw;

    }
    
    .hero-image
    {
        display:none;
    }
}

/*-----------------------------------------------
    04. Concept
-----------------------------------------------*/

.feature-style 
{
    padding-top: 10vw;
    padding-bottom: 15vw;
}

.feature-title 
{
    color: var(--couleur8);
    width: 100%;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px
}

.feature-grid 
{
    @apply grid grid-cols-2 gap-8;
    margin: auto;
    width: 75%;
}

.feature-item 
{
    background-color: var(--couleur3);
    display: flex;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 4vw;
    border-radius: 30px;
}

.feature-item:hover .feature-icon 
{
    background-color: var(--couleur1);
}

.feature-item:hover .feature-icon img 
{
    filter: brightness(0) invert(1);
}

.feature-icon 
{
    align-content: center;
    background-color: var(--couleur2);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    transition: all 0.5s ease 0s;
}

.feature-icon img
{
    margin: auto;
    width: 3vw;
    height: 3vw;
}

.feature-content 
{
    width: 70%;
    text-align: justify;
    padding-left: 4vw;
}
  
.feature-content .title 
{
    color: var(--couleur8);
    font-size: 2.5vw;
}
  
.feature-content .desc 
{
    color: var(--couleur8);
    font-size: 1vw;
    
}

@media (max-width: 1000px) 
{
    .feature-title 
    {
        font-size: 50px;
    }
    
    .feature-icon
    {
        display: none;
    }
    
    .feature-content 
    {
        width: 90%;
        text-align: justify;
        padding-left: 0vw;
    }

    .feature-content .title 
    {
        font-size: 3vw;
    }
    
    .feature-content .desc 
    {
        font-size: 1.5vw;
        
    }
}

@media (max-width: 800px) 
{
    .feature-title 
    {
        font-size: 6vw;
    }
    
    .feature-grid 
    {
        @apply grid grid-cols-1 gap-2;
        width: 100%;
    }

    .feature-content .title 
    {
        font-size: 4.5vw;
    }
    
    .feature-content .desc 
    {
        font-size: 3vw;
        
    }
}

/*-----------------------------------------------
    05. Video
-----------------------------------------------*/

.banner-style img
{
    width: 75%;
    margin: auto;
}

.banner-item 
{
    position: relative;
    padding-bottom: 15vw;
}

.banner-player
{
    display: none;
    position: absolute;
    align-content: center;
    top:0%;
    left:0%;

    background-color: var(--couleur1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.banner-icon
{
    z-index: 100;
    margin: auto;
}

@media (max-width: 800px) 
{
    .banner-item 
    {
        display: none;
    }
} 

/*-----------------------------------------------
    06. Contact
-----------------------------------------------*/

.newsletter-style
{
    position: relative;
    width: 75%;
    margin: auto;
    padding-bottom: 15vw;
}

.newsletter-item
{
    align-content: center;
    text-align: center;
}

.newsletter-title 
{
    position: absolute;
    top: 4vw;
    left: 18vw;   
    font-size: 4vw;
    font-weight: 500;
    color: var(--couleur8);
}

.newsletter-text
{
    position: absolute;
    top: 9.5vw;
    left: 18vw;
    color: var(--couleur8);
    font-size: 1.5vw;
}

.newsletter-email
{
    position: absolute;
    left: 18vw;
    top: 14vw;
    width: 40vw;
}

.newsletter-input
{
    position: relative;
    top:0px;
    left:0px;
    height:5vw;
    width: 100%;
    font-size: 1.2vw;
    color: var(--couleur8);
    border-radius: 1vw;
    @apply border-gray-500;
}

.newsletter-button
{
    position: absolute;
    top:0px;
    right:0px;
    width:10vw;
    height:5vw;
    font-size: 1vw;
    color: var(--couleur9);
    border-radius: 1vw;
}

@media (max-width: 800px) 
{
    .newsletter-style
    {
        width: 100%;
    }

    .newsletter-title 
    {
        left: 20vw;   
        font-size: 6vw;
    }

    .newsletter-text
    {
        display:none;
    }

    .newsletter-email
    {
        left: 20vw;
        top: 18vw;
        width: 60vw;
    }

    .newsletter-input
    {
        height:8vw;
        font-size: 2vw;
        border-radius: 1.5vw;
    }

    .newsletter-button
    {
        width:15vw;
        height:8vw;
        font-size: 2vw;
        border-radius: 1.5vw;
    }
}

/*-----------------------------------------------
    07. Footer
-----------------------------------------------*/

.footer-bg 
{
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;  
    background-position: top;
    background-image: url('/footer/footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-image 
{
    justify-content: center;
}

.footer-image img
{
    margin: auto;
    width: 20vw;
}

.footer-content
{
    color: var(--couleur9);
    text-align: center;
    font-size: 1.5vw;
}

.footer-content a
{
    color: var(--couleur4);
}

/*-----------------------------------------------
    08. 404
-----------------------------------------------*/

.unknown-bg 
{
    background-image: url(../public/hero/background.png);
    background-repeat: no-repeat;
    background-size: 120%;
    min-height: 100vh;
}

.unkown-container
{
    display: grid;
    place-items: center;
}

.unknown-title
{
    padding-top: 10vh;
    color: var(--couleur9);
    font-weight: 500;
    font-size: 75px;
}

.unknown-text
{
    display: flex;
    place-items: center;
    color: var(--couleur9);
    font-size: 25px;
}